/* Common CSS */
@font-face {
  font-family: dsifont;
  src: url(/font/nintendo_NTLGDB_001.ttf);
}
html * {
  font-family: dsifont;
}
h1
{
    font-size: 16px;
    text-decoration: underline;
	background-color: #CCFFCC;
	margin: 4px 0px;
}
body
{
    font-size: 14px;
	background-color: #FFFFFF;
}
table
{
    border-width: 1px;
	border-collapse: separate;
	border-spacing: 0px;
}
td
{
    padding: 0px; /* was 2 */
}
ul
{
    padding: 0px;
    margin: 0px 12px;
}
.f8
{
    font-size: 10px;
}
.f12
{
    font-size: 12px;
}
.f16
{
    font-size: 16px;
}
.layout_grid {
  layout-grid-type : fixed;
  layout-grid-char : 30px;
  layout-grid-line : 30px;
  layout-grid-mode : both;
}
.standardPage {
  position : absolute;
  top   : 0px;
  width : 240px;
  margin  : 8 8  0 8;
  padding : 0 0 22 0;
}
#up_url, #down_url
{
    width: 95%;
}

#app_version
{
    text-align: right;
    background-color: #CCC;
}
#output
{
    background-color: #CCFFCC;
}
#progress
{
    background-image: url("progress_bar.gif");
  background-repeat: no-repeat;
  background-position: -216px 0px;
}