@font-face {
    font-family: dsifont;
    src: url(/font/nintendo_NTLGDB_001.ttf);
}
body {
	background-image: url('https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_dsi_background.jpg');
	margin: 0 auto;
}
.content-wrap {
	width: 550px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
}
object {
	width: 256px;
	height: 192px;
	border: 2px solid black;
}
.screenlabels {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.screenlabels div {
	margin-bottom: -20px;
	width: 256px;
	text-align: center;
}